body {
    background-color: #dcdcdc;
    position: relative;
    height: 80%;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    max-width: 100%;
}

.content {
    background-color: #3F00FF;
    width: 1350px;
    height: 840px;
}

.text-content {
    padding: 1.5em;
    color: white;
    font-size: 1.5em;
    position: relative;
    top: -50em;
}

.text-content h1 {
    font-size: 2.5em;
    max-width: 45%;
}

.text-content p {
    padding-top : 1.5em;
    padding-bottom : 1.5em;
}
.ee {
    max-width: 40%;
}

.fon-img {
    width: 677px;
    height: 395px;
    position: relative;
    top: -45em;
    right: -40em;
}

.button {
    padding: 1.9em;
    position: relative;
    top: -77em;
}

.content2 h2 {
    max-width: 70%;
    font-size: 4em;
    padding: 1.5em;
    position: relative;
    color: #333333;
}

.img-info {
    position: relative;
    top: -60em;
}

.poyasnenya {
    font-size: 5em;
}