* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logo2 {
    width: 204px;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 2rem;
    color: white;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li a {
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1rem;
}

.mobile-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.active {
        display: flex;
    }
}
